<%= form_for @camp_practice  , :url => camp_activity_camp_practices_path(@camp_activity) do |f|%>
	<ul>
		<li>
			<%= f.label :name , "Purpose" %>
			<%= f.text_field :name%>
		</li>	
		
		<li>	
		<%= f.label :starts_at, "Time" %>
   	<%= f.datetime_select :starts_at %>
	 	</li>
	</ul>
	<p>	<%= f.submit "Create"%></p>
												

<% end%>
