<ul>
<%= paginate @users %>
<table class="table table-hover">
  <tr>
    <th><%= t('Rank') + '/' + t('Max_rank') %></th>
    <th><%= t('Class Year') %></th>
    <th><%= t('Name') %></th>
    <th><%= t('Nick name') %></th>
    <th><%= t('Link') %></th>
    <% if current_user.is_admin == 2  %> 
        <th><%= t('Edit') %></th>
    <% end %>
    
  </tr>

<% @users.each_with_index do |user,index| %>
    <tr>
    <td><%= user.rank %> / <%= user.maxrank %></td>
    <td><%= user.class_year %></td> 
    <td><%= user.last_name %> <%= user.first_name %></td>
    <td><%= user.nick_name %></td>
    <td><%=link_to t('Link'), :controller => 'users', :action => 'show', :id => user.id %></td>
    <% if current_user.is_admin == 2 %>
	 <td><%= link_to t("Edit") , edit_user_registration_path %></td>
   <%end%>
 </tr>
<% end %>
</table>
</ul>
