<%if @user_show %>
	<h1> user name <%=@user_show.username %></h1>
	<p>class_year <%= @user_show.class_year%> </p>
	<p>first_name <%= @user_show.first_name%> </p>
	<p>last_name <%= @user_show.last_name%> </p>
	<p>nick_name <%= @user_show.nick_name%> </p>
	<p>email <%= @user_show.email%> </p>
	<p>rank <%= @user_show.rank%> </p>
	<%if @user_show.is_admin == 1 && @user.is_admin == 1%>
		<p>Administractor Yes </p>
	<% end %>
        <p>Number of uploaded feedbacks <%= @user_show.feedbacks.count%> </p>
        <p>Number of uploaded pastexams <%= @user_show.pastexams.count%> </p>
	
<% else %>
	<h1> user name <%=@user.username %></h1>
	<p>class_year <%= @user.class_year%> </p>
	<p>first_name <%= @user.first_name%> </p>
	<p>last_name <%= @user.last_name%> </p>
	<p>nick_name <%= @user.nick_name%> </p>
	<p>email <%= @user.email%> </p>
	<p>rank <%= @user.rank%> </p>
	<%if @user.is_admin == 1%>
		<p>Administractor Yes </p>
	<% end %>
        <p>Number of uploaded feedbacks <%= @user.feedbacks.count%> </p>
        <p>Number of uploaded pastexams <%= @user.pastexams.count%> </p>	

<%end%>
<% if @user_show == @user || !@user_show%> 
	<%= link_to "edit_profle" , edit_user_registration_path%>
<% end %>
<%= link_to :back_to_home ,root_url%>
