<p>Name:        <%= @course.name %>
<p>Instructor:  <%= @course.instructor %>

<ul>

<table width="1" style="word-break:break-all" class="table table-hover">
  <tr>
    <th>Year</th>
    <th>Uploader</th>
    <th>Answer</th>
    <th>Type</th>
    <th>Link</th>
    <th>Publish date</th>
    <th>Description</th>
    <th>Delete</th>
  </tr>
  
  <% @pastexams.each do |pastexam| %>
  
	<tr>
	  <td><%= pastexam.year %></td>
	  <td>
          <%= link_to "#{pastexam.user.nick_name}", :controller => 'users', :action => 'show',:id => pastexam.user %></td>
          <td><%= pastexam.has_answer %></td>
          <td>
          <%= @type_list[pastexam.exam_type] %>
          <%= pastexam.which_time %>
          </td>
          <td><%= link_to "Download file", "/uploads/#{pastexam.id}" %></td>
          <td><%= pastexam.created_at.to_date %></td>
          <td><%= pastexam.description %></td>
          
          <%if pastexam.user == current_user || current_user.is_admin>0%>
            <td><%= link_to 'destroy', course_pastexam_path(@course, pastexam),
	                            :method => :delete , data: { confirm: 'Are you sure?' }%></td>
          <%else%>
          <td></td>
          <% end %>
           
        </tr>
   <% end %>
   </table>

</ul>
<%= link_to 'new pastexam', new_course_pastexam_path(@course) %>
<p><%= link_to 'back to course', course_path(@course)%></p>
