<%= form_for @pastexam, :url => course_pastexams_path(@course) do |f| %>
    
    <div class = "field">
		<%= f.label :year%>
		<%= f.select (:year),	
	  	 options_for_select((1991..2031))
		%>
    </div>
    <div class = "field">
		<%= f.label :exam_type%>
		<%= f.select (:exam_type),	
	  	 options_for_select([['midterm', 0], ['final', 1], ['quiz',2],['homework',3],['project',4],['others',5]]) 
		%>
    </div>
    <div class = "field">
		<%= f.label :which_time%>
		<%= f.select (:which_time),	
	  	 options_for_select((1..30))
		%>
    </div>
    <div class = "field">
		<%= f.label :has_answer%>
		<%= f.select (:has_answer),	
	  	 options_for_select([['No', 0], ['Yes', 1]]) 
		%>
    </div>
    <p><%= f.label :file %>
    <%= f.file_field :file %></p>
    <% if @pastexam.errors[:file].presence %>
        <%= @pastexam.errors[:file].join(", ") %>
    <% end %>
   
    <p><%= f.label :description, "description(max: 15 words)" %></p>
    <p><%= f.text_area :description %></p>
    
    <p><%= f.submit "Create" %></p>

<% end %>

<p><%= link_to 'Back to index', :controller => 'course_pastexams', :action => 'index' %></p>

