<nav class ="navbar navbar-default" role="navigation">

	<div class ="navbar-header">
		<ul class ="nav navbar-nav">
			<li> <%= link_to "Home" , root_url%></li>
				<% if user_signed_in?%>
					<li><%= link_to "Users" , users_hero_path%></li>
					<li><%= link_to "User Profile" , users_path%></li>
					
					<li> <%= link_to "Rank Policies" ,adminparams_path%></li>
					<%if current_user.is_admin > 0%>
						<li> <a hred="#">admin_mode</a>  </li>
					
					<% end %>
					<li><%= link_to "Sign out", destroy_user_session_path , :method => :delete %> </li>
				<% else %>		 
					<li><%= link_to "Sign in" , new_user_session_path%></li>
				<% end%>
		</ul>
	</div>
</nav>


