<nav class ="navbar navbar-default" role="navigation">

	<div class ="navbar-header">
		<ul class ="nav navbar-nav">
			<li> <%= link_to t("Home") , root_url%></li>
				<% if user_signed_in?%>
					<li><%= link_to t("Hero") , users_hero_path%></li>
					<li><%= link_to "#{current_user.nick_name} ( #{current_user.rank} / #{current_user.maxrank} )" , users_path%></li>
					
					<li> <%= link_to t("Rank Policy") ,adminparams_path%></li>
					<%if current_user.is_admin > 0%>
						<li> <a hred="#"><%= t("admin_mode") %></a>  </li>
					
					<% end %>
					<li><%= link_to t("Sign out"), destroy_user_session_path , :method => :delete %> </li>
				<% else %>		 
					<li><%= link_to t("Sign in") , new_user_session_path%></li>
				<% end%>
		</ul>
	</div>
</nav>


