<% if user_signed_in? %>	
	<p><%= link_to image_tag('course.png',width:'49%'), courses_path %>
           <%= link_to image_tag('contact.jpg',width:'49%'), root_url %>
	 
	 <li><%= link_to 'Camp activities', camp_activities_url %> </li>
	 <li><%= link_to 'Camp workers', camp_workers_url %> </li>
	 
	</p>

<% end %>



<!--
	<div class="slideshow">
    	<%= image_tag('songjoe_2013.jpg',width:'49%')%>
    	<%= image_tag('eecscamp_2014_lightball.jpg',width:'49%')%>
    	<%= image_tag('songjoe_2014.jpg',width:'49%')%>
    	<%= image_tag('eecscamp_2015_fireball.jpg',width:'49%')%>
   		<%= image_tag('songjoe_2015.jpg',width:'49%')%>
	</div>
	<p><%= link_to image_tag('course.png',width:'49%'), courses_path %>
           <%= link_to image_tag('contact.jpg',width:'49%'), root_url %>
	 
	 <li><%= link_to 'Camp activities', camp_activities_url %> </li>
	 <li><%= link_to 'Camp workers', camp_workers_url %> </li>
	 
	</p>


-->





































