<ul>
	<% @camp_activities.each do |c|%>
		<li>
			<%= c.name %>
			<%=link_to "show" , camp_activity_path(c)%>	
			<%=link_to "practices" , camp_activity_camp_practices_path(c) %>
			<% if user_signed_in? && current_user.is_admin >0 %>
			<%=link_to "edit" , edit_camp_activity_path(c)%>	
			<%=link_to "delete" , camp_activity_path(c) , :method => :delete %>	
			
			<% end %>
		</li>
	<% end %>
</ul>

<% if user_signed_in? && current_user.is_admin >0 %>
	<p><%= link_to "New camp activity" , new_camp_activity_path%></p>
<% end %>
<p><%=  link_to "back to home" , root_url%></p>
