<%= form_for @feedback, :url => course_feedback_path(@course,@feedback),:html => {:method => :patch} do |f| %>
    
    <div class = "field">
		<%= f.label :year, t('Year')%>
		<p><%= f.select (:year),	
	  	 options_for_select((1991..2031),@feedback.year)
		%></p>
    </div>
    <div class = "field">
		<%= f.label :rating, t('Rating')%>
		<p><%= f.select (:rating),	
	  	 options_for_select((1..10),@feedback.rating)
		%></p>
    </div>

    
    <p><%= f.label :content, t("Content") %></p>
    <p><%= f.text_area :content %></p>

    <p><%= f.label :lecture_way, t("Lecture way") %></p>
    <p><%= f.text_area :lecture_way %></p>

    <p><%= f.label :test_homework, t("Test and homework") %></p>
    <p><%= f.text_area :test_homework %></p>
    
    <p><%= f.label :partitioning, t("Partitioning") %></p>
    <p><%= f.text_area :partitioning %></p>

    <p><%= f.label :other, t("Other") %></p>
    <p><%= f.text_area :other %></p>

    <%= f.submit t("Update") %>
<% end %>

<p><%= button_to t('Back to Feedback Index'), course_feedbacks_path(@course), :method => 'get'  %></p>

