<%= form_for @feedback, :url => course_feedback_path(@course,@feedback),:html => {:method => :patch} do |f| %>
    
    <div class = "field">
		<%= f.label :year%>
		<%= f.select (:year),	
	  	 options_for_select((80..120),@feedback.year)
		%>
    </div>
    <div class = "field">
		<%= f.label :rating%>
		<%= f.select (:rating),	
	  	 options_for_select((1..10),@feedback.rating)
		%>
    </div>

    
    <p><%= f.label :content, "content" %>
    <%= f.text_area :content %></p>

    <p><%= f.label :lecture_way, "lecture way" %>
    <%= f.text_area :lecture_way %></p>

    <p><%= f.label :test_homework, "test and homework" %>
    <%= f.text_area :test_homework %></p>
    
    <p><%= f.label :partitioning, "partitioning" %>
    <%= f.text_area :partitioning %></p>

    <p><%= f.label :other, "other" %>
    <%= f.text_area :other %></p>

    <%= f.submit "Update" %>
<% end %>

<p><%= link_to 'Back to index', course_feedbacks_path(@course) %></p>

