<%= form_for @feedback, :url => course_feedbacks_path(@course) do |f| %>
    
    <div class = "field">
		<%= f.label :year%>
		<%= f.select (:year),	
	  	 options_for_select((80..120))
		%>
    </div>
    <div class = "field">
		<%= f.label :rating%>
		<%= f.select (:rating),	
	  	 options_for_select((1..10))
		%>
    </div>

    
    <p><%= f.label :content, "content" %>
    <%= f.text_area :content %></p>

    <%= f.submit "Create" %>
<% end %>

<p><%= link_to 'Back to index', :controller => 'courses', :action => 'index' %></p>

