<%= form_for @course, :url => course_path(@course), :method => :patch do |f| %>
    <p><%= f.label :name, t("Course Name") %></p>
    <p><%= f.text_field :name %></p>

    <p><%= f.label :instructor, t("Instructor") %></p>
    <p><%= f.text_field :instructor %></p>

    <div class = "field">
	<%= f.label :grade, t("Grade")%>
	<p><%= f.select (:grade),	
	  	 options_for_select({t('Freshman')=> 1,t('Sophomore')=> 2,t('Junior and Senior')=> 3,t('Graduate')=> 4,t('Foreign Language') => 5,t('General Knowledge') => 6} ,@course.grade)
		%></p>
    </div>

    <p><%= f.label :description, t("Description") %></p>
    <p><%= f.text_area :description %></p>

    <%= f.submit t("Update") %>
<% end %>

<p><%= button_to t('Back to Course Index'),{ :controller => 'courses', :action => 'index'}, :method => 'get' %></p>
