<p>
  <%= link_to 'back to root', root_url, :class => "btn btn-info", :method => :get %>
</p>

<p>
  <%= link_to 'New Course', new_course_path, :class => "btn btn-primary"%>
</p>

<p>
<%= form_tag courses_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search instructor or course name" %>
<% if @result %>
<%= @result %>
<%end%>
<% end %>

</p>

<p>
  <%= link_to 'freshman', {:controller=> 'courses', :action => 'index', :grade => 1}, :class => @button_style[1] %>
  <%= link_to 'sophomore', {:controller=> 'courses', :action => 'index', :grade => 2}, :class => @button_style[2] %>
  <%= link_to 'junior and senior', {:controller=> 'courses', :action => 'index', :grade => 3}, :class => @button_style[3] %>
  <%= link_to 'graduate', {:controller=> 'courses', :action => 'index', :grade => 4}, :class => @button_style[4] %>
  <%= link_to 'foreign language', {:controller=> 'courses', :action => 'index', :grade => 5}, :class => @button_style[5] %>
  <%= link_to 'general knowledge', {:controller=> 'courses', :action => 'index', :grade => 6}, :class => @button_style[6] %>
</p>

<ul>
<table class="table table-hover">
  <tr>  
    <th>Grade</th>
    <th>Course Name</th>
    <th>Instructor</th>

    <th>Feedbacks</th>
    <th>Pastexams</th>
    <%if current_user.is_admin >0%>
      <th>Edit</th>
      <th>Delete</th>
    <%end%>
  </tr>
<% @courses.each do |course| %>
  <tr>
    <td><%= @year_list[course.grade] %></td>
    <td><%=link_to "#{course.name}" , course_path(course)%></td> 
    <td><%=course.instructor%></td>
    
    <td><%= course.feedbacks.count %> </td>
    <td><%= course.pastexams.count %> </td>
    <% if @user.is_admin  > 0  %>
      <th><%= link_to 'Edit', edit_course_path(course)%></th>
      <th><%= link_to 'Delete',course_path(course), :method => :delete, data: { confirm: 'Are you sure?' } %></th>
    <%end %>
  </tr>
<% end %>
</table>
</ul>



