<table class="table table-hover">
	<caption>工作人員名單</caption>
	<tr>
		<th>名字</th>
		<th>小隊</th>
		<th>組別</th>
		<th>email</th>
		<th>手機</th>
	</tr>
	<% @camp_workers.each do |w|%>
	<tr>
		<th><%= link_to "#{w.name}" , camp_worker_path(w)%></th>
		<th><%= w.team%></th>
		<th>
			<%= get_department_name(w.department)%>
			
		</th>
		<th><%= w.email%></th>
		<th><%= w.cellphone%></th>
	</tr>			
	<% end %>
</table>
<% if user_signed_in? && current_user.is_admin >0 %>
			<p><%= link_to 'New camp_worker' , new_camp_worker_path%></p>
<% end %>

<p><%= link_to 'Back to home' , root_url%></p>
