
<ul>
</li><%= @camp_worker.name%></ii>
</li><%= @camp_worker.gender%></ii>
</li><%= @camp_worker.grade%></ii>
</li><%= @camp_worker.email%></ii>
</li><%= @camp_worker.cellphone%></ii>
</li><%= @camp_worker.level%></ii>
</ui>


<p><%= link_to "back to index" , camp_workers_path%></p>
